numpy==2.2.6
jax==0.6.2
jaxlib==0.6.2
tensorflow==2.20.0
tensorboard==2.20.0
tf_keras==2.20.1
flax==0.10.7
optax==0.2.6
orbax-checkpoint==0.11.31
mujoco==2.3.7
gym==0.26.2
gymnasium==0.29.1
opencv-python
imageio
imageio-ffmpeg
wandb
agentlace @ git+https://github.com/youliangtan/agentlace.git@cf2c337c5e3694cdbfc14831b239bd657bc4894d
dm-robotics-transformations
# Hardware/Robot infra dependencies
pyrealsense2
pymodbus
pyspacemouse
hidapi
scipy
requests
flask
